body {
    background: white;
    font-family: $font;
    font-weight: 400;
}

a {
    text-decoration: underline;
}

h1 {
    color: $color-main;
    font-weight: bolder;
}

h2 {
    color: white;
    background: $color-main;
    padding: 0.5em;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-main;
}

h4 {

}