body {
    background: white;
    font-family: $font;
    font-weight: 400;
    font-size: 100%;
}

a {
    text-decoration: underline;
}

h1 {
    color: $color-main;
    font-weight: bolder;
}

h2 {
    color: $color-background;
    background: url(../images/background-h2.svg) top left no-repeat;
    background-size: cover;
    padding: 0.5em;

    a {
        color: $color-background;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: $color-background;
    }
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-main;
}

@media screen and (min-width:$wrapper-width){
    h2 {
        width: unset;
    }
}