@charset "UTF-8";

$font: 'Poppins', sans-serif;

$color-main: rgb(0, 131, 151);
$color-water: rgb(0, 185, 233);
$color-energy: rgb(251, 186, 0);
$color-social: rgb(232, 52, 139);
$color-nature: rgb(98, 178, 47);
$color-background: white;
$color-font: rgb(51, 51, 51);

$interaction-scale: 105%;
$interaction-delay: .2s;

$wrapper-width: 980px;

$resource-size: 180px;
