<?php

include_once "custom/themes/ecoresponsables/lib/eco-functions.php";

$thumb_size = 250;
$textMaxLength = 250;

$themePath = eco_get_theme_path();

$fiche = $fiches[array_rand($fiches, 1)];

$image = eco_resize_image_and_cached(
  $fiche['imagethumbs'],
  $thumb_size,
  $thumb_size,
  "{$themePath}/images/default-thumb.png"
);

$title = filter_var($fiche['bf_titre'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);

$color = eco_color_from_title($title);

$description = filter_var($fiche['description'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);


if (mb_strlen($description, "UTF-8") > $textMaxLength) {
  $description = mb_substr($description, 0, $textMaxLength, "UTF-8");  
  $description = trim($description) . "[…]";
}

$url = filter_var($fiche['bf_url'], FILTER_SANITIZE_URL);

$html = "
  <article class='resources-random'>
    <img src='{$image}'/>\n
    <h1 class='{$color}'>{$title}</h1>\n
    <p class='description'>{$description}</p>\n
    <span class='random-buttons-span'>
      <a class='eco-btn {$color}' href='{$fiche['url']}'>Voir la fiche</a>\n
    </span>
  </article>
";

echo($html);

