<?php

$overviewLength = 300;

if (count($fiches) > 0) {
  echo $pager_links;
  print("<section class=\"actus\">\n");
}

$themePath = "themes/ecoresponsables/";
$altThemePath = "custom/{$themePath}";
if (is_dir($altThemePath) === true) {
  $themePath = $altThemePath;
}

foreach($fiches as $fiche) {
    $image = "<img src='{$themePath}/images/actus.jpg' />\n";
    if (isset($fiche['imagebf_image']) and !empty($fiche['imagebf_image'])) {
        $imageUri = redimensionner_image(
          "files/{$fiche['imagebf_image']}",
          "cache/image_240_240_{$fiche['imagebf_image']}",
          240, 240, 'crop'
        ); 
        if (empty($imageUri) !== true) {
          $image = "<img src='{$imageUri}'/>\n";

        }
    }
    $page = '?' . $fiche['id_fiche'];
    $title = filter_var($fiche['bf_titre'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);
    $overview = mb_substr(filter_var($fiche['bf_resume'], FILTER_SANITIZE_FULL_SPECIAL_CHARS), 0, $overviewLength);
    if (mb_strlen($fiche['bf_resume']) > $overviewLength) {
      $overview .= "… <a href='$page'>lire la suite</a>";
    }

    $link = "";
    if (isset($fiche['bf_site_internet']) and !empty($fiche['bf_site_internet'])) {
      $link = "<a href='" . $fiche['bf_site_internet'] . "'><i class='glyphicon glyphicon-link'></i> Lien </a>";
    }

    $file = "";
    if (isset($fiche['fichierfichier1']) and !empty($fiche['fichierfichier1'])) {
        $file = "<a href='files/" . $fiche['fichierfichier1'] . "'><i class='glyphicon glyphicon-file'></i> Fichier</a>";
    }

    $button = "";
    if (!empty($file) or !empty($link)) {
      $button = "<span class='actuEAButton'>$file $link</span>\n";
    }

    setlocale(LC_TIME, 'fr_FR.UTF-8');
    $dateFormat = "%e %B %G";
    $date = 'Créé le ' . strftime($dateFormat, strtotime($fiche['date_creation_fiche']));
    if ($fiche['date_creation_fiche'] !== $fiche['date_maj_fiche']) {
      $date = 'Mis à jour le ' . strftime($dateFormat, strtotime($fiche['date_maj_fiche']));
    }

    $html = "<article class='actus'>\n
      <a class='imageActuEA' href='{$page}'>{$image}</a>\n
      <div class='textActuEA'>
        <h1><a href='{$page}'>{$title}</a></h1>\n
        <p class='date'>{$date}</p>\n
        <p class='overview'>{$overview}</p>\n
        {$button}
      </div>
    </article>\n
    ";

    printf($html);
}


if (count($fiches) > 0) {
  print("</section>\n");
  echo $pager_links;
}
