<?php

include_once "custom/themes/ecoresponsables/lib/eco-functions.php";

$thumb_size = 250;
$textMaxLength = 250;

if (count($fiches) > 0) {
  echo $pager_links;
  print("<section class=\"eco-bazar-list\">\n");
}

$themePath = eco_get_theme_path();

$fiche = $fiches[array_rand($fiches, 1)];

foreach($fiches as $fiche) {

    $image = eco_resize_image_and_cached(
      $fiche['imagethumbs'],
      $thumb_size,
      $thumb_size,
      "{$themePath}/images/default-thumb.png"
    );

    $title = filter_var($fiche['bf_titre'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);
    $text = filter_var($fiche['description'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);
    $date = eco_date_string($fiche);
    $color = eco_color_from_title($title);
    $url = filter_var($fiche['bf_url'], FILTER_SANITIZE_URL);

    $html = "
    <article class='eco-bloc'>
      <h1 class='eco-bloc-title eco-title {$color}' title='{$title}' >{$title}</h1>
      <img class='eco-bloc-img' src='{$image}' />
      <div class='eco-bloc-content'>
        <p class='eco-date'>{$date}</p>
        <p>{$text}</p>
      </div>
      <span class='eco-bloc-buttons'>
        <a class='eco-btn {$color}' target='_blank' href='{$url}'>Voir la ressource</a>\n
      </span>
    </article>\n";

    echo($html);
}


if (count($fiches) > 0) {
  print("</section>\n");
  echo $pager_links;
}
