<?php

include_once "custom/themes/ecoresponsables/lib/eco-functions.php";

$textMaxLength = 600;
$thumb_size = 323;

if (count($fiches) > 0) {
    echo $pager_links;
    print("<section class=\"eco-bazar-list\">\n");
}

$themePath = eco_get_theme_path();

foreach($fiches as $fiche) {
  
    $image = eco_resize_image_and_cached(
        $fiche['imagebf_image'],
        $thumb_size,
        $thumb_size,
        "{$themePath}/images/default-thumb.png"
    );
    
    $title = filter_var($fiche['bf_titre'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);
    
    $color = eco_color_from_title($title);
    
    $text = mb_substr(
        filter_var($fiche['bf_resume'], FILTER_SANITIZE_FULL_SPECIAL_CHARS),
        0,
        $textMaxLength,
        "UTF-8"
    );

    $readmore = "";
    if (mb_strlen($fiche['bf_resume']) >= $textMaxLength) {
        $text = trim($text) . "[…]";
        $readmore = "<a class='eco-btn {$color}' href='{$fiche['url']}'>lire la suite</a>";
    }

    $link = "";
    if (isset($fiche['bf_site_internet']) and !empty($fiche['bf_site_internet'])) {
        $link = "<a class='eco-btn {$color}' href='" . $fiche['bf_site_internet'] . "'><i class='glyphicon glyphicon-link'></i> Lien </a>";
    }

    $file = "";
    if (isset($fiche['fichierfichier1']) and !empty($fiche['fichierfichier1'])) {
        $file = "<a class='eco-btn {$color}' href='files/" . $fiche['fichierfichier1'] . "'><i class='glyphicon glyphicon-file'></i> Fichier</a>";
    }

    $buttons = "";
    if (!empty($file) or !empty($link) or !empty($readmore)) {
      $buttons = "<span class='eco-bloc-buttons'>
        {$readmore}
        {$file}
        {$link}
      </span>";
    }

    $date = eco_date_string($fiche);

    $html = "<article class='eco-bloc'>
      <h1 class='eco-bloc-title eco-title {$color}' title='{$title}' >{$title}</h1>
      <img class='eco-bloc-img' src='{$image}' />
      <div class='eco-bloc-content'>
        <p class='eco-date'>{$date}</p>
        <p>{$text}</p>
      </div>
      {$buttons}
    </article>\n";

    // l'usage de printf entraine une erreur concernant le nombre 
    // d'argument, surement une chaine type %s faisant qu'il attendant 
    // des paramètres en plus
    echo("{$html}");
}


if (count($fiches) > 0) {
  print("</section>\n");
  echo $pager_links;
}
