<?php

$textMaxLength = 600;

if (count($fiches) > 0) {
  echo $pager_links;
  print("<section class=\"actus\">\n");
}

$themePath = "themes/ecoresponsables/";
$altThemePath = "custom/{$themePath}";
if (is_dir($altThemePath) === true) {
  $themePath = $altThemePath;
}

foreach($fiches as $fiche) {

    $image = "<img src='{$themePath}/images/actus.jpg' />\n";
    if (isset($fiche['imagebf_image']) and !empty($fiche['imagebf_image'])) {
        $imageUri = redimensionner_image(
          "files/{$fiche['imagebf_image']}",
          "cache/image_240_240_{$fiche['imagebf_image']}",
          240, 240, 'crop'
        ); 
        if (empty($imageUri) !== true) {
          $image = "<img src='{$imageUri}'/>\n";

        }
    }
    $title = filter_var($fiche['bf_titre'], FILTER_SANITIZE_FULL_SPECIAL_CHARS);
    $text = mb_substr(
      filter_var($fiche['bf_resume'], FILTER_SANITIZE_FULL_SPECIAL_CHARS),
      0,
      $textMaxLength,
      "UTF-8"
    );

    //$form = new \YesWiki\WikiniFormatter($this);
    //$text = $form->format($text);

    $readmore = "";
    if (mb_strlen($fiche['bf_resume']) > $textMaxLength) {
      $text = trim($text) . "...";
      $readmore = "<a class='actu-button' href='{$fiche['url']}'>lire la suite</a>";
    }

    $link = "";
    if (isset($fiche['bf_site_internet']) and !empty($fiche['bf_site_internet'])) {
      $link = "<a class='actu-button' href='" . $fiche['bf_site_internet'] . "'><i class='glyphicon glyphicon-link'></i> Lien </a>";
    }

    $file = "";
    if (isset($fiche['fichierfichier1']) and !empty($fiche['fichierfichier1'])) {
        $file = "<a class='actu-button' href='files/" . $fiche['fichierfichier1'] . "'><i class='glyphicon glyphicon-file'></i> Fichier</a>";
    }

    $button = "";
    if (!empty($file) or !empty($link) or !empty($readmore)) {
      $button = "<span class='actu-buttons-span'>{$readmore} {$file} {$link}</span>\n";
    }

    setlocale(LC_TIME, 'fr_FR.UTF-8');
    $dateFormat = "%e %B %G";
    $date = 'Créé le ' . strftime($dateFormat, strtotime($fiche['date_creation_fiche']));
    if ($fiche['date_creation_fiche'] !== $fiche['date_maj_fiche']) {
      $date = 'Mis à jour le ' . strftime($dateFormat, strtotime($fiche['date_maj_fiche']));
    }

    $html = "<article class='actu-article'>\n
      <h1>{$title}</h1>\n  
      {$image}\n
      <p class='actu-article-date'>{$date}</p>\n
      <p class='actu-article-text'>{$text}</p>\n
      {$button}
    </article>\n
    ";

    // l'usage de printf entraine une erreur concernant le nombre 
    // d'argument, surement une chaine type %s faisant qu'il attendant 
    // des paramètres en plus
    echo("{$html}");
}


if (count($fiches) > 0) {
  print("</section>\n");
  echo $pager_links;
}
