@media screen and (min-width:$wrapper-width){
  .l-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 200px 505px 275px auto;
    padding-bottom: 2em; // Pour prendre en compte le menu qui remonte légèrement sur le header.
  }
  
  .header-logo {
    grid-column: 2 / span 2;
    grid-row: 1 / 1;
  }
  
  .header-subtitle {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }
  
  .header-list-sublogo {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
  }
}