@media screen and (min-width:$wrapper-width){
  .l-footer {
    display: grid;
    grid-template-columns: auto calc(2*#{$wrapper-width}/3) calc(#{$wrapper-width}/3) auto;
    grid-template-rows: auto;
    row-gap: 1em;
  }
  
  .footer-who {
    grid-column: 2;
    grid-row: 1;
  }
  
  .footer-partners {
    grid-column: 3;
    grid-row: 1;
  }
  
  .footer-informations {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
}