@media screen and (min-width:$wrapper-width){
  .l-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 705px 275px auto;
    padding-bottom: 3em; // Pour prendre en compte le menu qui remonte légèrement sur le header.
  }

  .header-social-network {
    grid-column: 2;
    grid-row: 1;
  }
  
  .header-logo {
    grid-column: 2;
    grid-row: 2;
  }
  
  .header-subtitle {
    grid-column: 2;
    grid-row: 3;
  }
  
  .header-logos-themes {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}
