body {
    display: flex;
    flex-direction: column;
}

.l-header {
    order: 10;
}

.l-nav {
    order: 20;
}

.l-main {
    order: 30;
}

.l-footer {
    order: 40;
    background-color: $color-main;
    color: $color-background;
}

