.l-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1em;
  column-gap: 1em;
}

.footer-who {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.footer-contact {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.footer-partners {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
}

.footer-informations {
  grid-column: 1 / 1;
  grid-row: 4 / 4;
}
