.l-header {
  background: $color-main;
  color: $color-background
}

.header-logo {
  margin-top: -2em;
  img {
    width: 100%;
    padding-right: 10em;
  }
}

.header-subtitle {
  text-align: left;
  font-variant: small-caps;
  font-size: 5vmin;
  line-height: 5vmin;
}

.header-social-network {
  list-style: none;
  text-align: right;
  margin-right: 7em;
  li {
    display: inline;
    .social-network-logo {
      width: 4em;
      padding: .5em;
    }
  }
}

@media screen and (min-width:$wrapper-width){
  .header-logos-themes {
    //display: block;
    padding: 1em;
    padding-top: 1.2em;
    background: url(../images/background-sublogo.svg) top left no-repeat ;
    height: 291px;
  }

  .social-network-logo:hover {
    transform: scale(1.1);
  }
  
  .header-subtitle {
    text-align: right;
    font-variant: small-caps;
    font-size: 1.3em;
    line-height: 1em;
  }
}
