.l-header {
  background: $color-main;
  color: $color-background
}

.header-logo {
  img {width: 100%;}
  
}

.header-subtitle {
  text-align: left;
  font-variant: small-caps;
  font-size: 5vmin;
  line-height: 5vmin;
}

.header-list-sublogo {
  list-style: none;
  li {
    display: inline;
    .header-sublogo {
      width: 18%;
      padding: .5em;
    }

    .nature { color: $color-nature; }
    .water { color: $color-water; }
    .social { color: $color-social; }
    .energy { color: $color-energy; }
  }
}

@media screen and (min-width:$wrapper-width){
  .header-list-sublogo {
    padding: 1em;
    padding-top: 1.2em;
    background: url(../images/background-sublogo.svg) top left no-repeat ;
    height: 291px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    li {
      display: inherit;
      text-align: center;
      font-variant: small-caps;
      font-weight: bold;
      
      .header-sublogo {
        width: 75%;
        margin: auto;
      }
    }
  }

  .header-subtitle {
    text-align: left;
    font-variant: small-caps;
    font-size: 2em;
    line-height: 1em;
  }
}