.l-header {
  display: flex;
  flex-flow: column;
  background: $color-main;
  color: $color-background
}

.header-logo {
  width: 100%;
}

.header-subtitle {
  width: 100%;
  padding-left: 30%;
  
  text-align: left;
  font-variant: small-caps;
  font-size: 5vmin;
  line-height: 5vmin;
}

.header-list-sublogo {
  list-style: none;
  padding-left: 30%;
  padding-right: 5%;
  
  li {
    display: inline;

    .header-sublogo {
      width: 18%;
    }
  }
}