.menu-burger {
  display: flex;
  flex-direction: column;

  background-color: $color-social;
  color: $color-background;

  a {
    text-decoration: none;
    text-align: center;
    color: $color-background;
    padding: 1em;
    display: flex;
  }
  
  li {
    list-style: none;
    text-align: center;
    display: inline-block;
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .menu-submenu {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: visibility .5s;
    background-color: $color-main;
  }

  a:hover {
    background-color: $color-nature;
  }

  li:focus {
    pointer-events: none;
  }

  li:focus .menu-submenu
  {
    opacity: 1;
    visibility: visible;
    display: flex;
    z-index: 1;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
  }
}






