.menu-burger {
  display: flex;
  flex-direction: column;

  background-color: $color-social;
  color: $color-background;

  a {
    text-decoration: none;
    color: $color-background;
    padding: 1em;
    display: flex;
  }
  
  li {
    list-style: none;
    flex-direction: column;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a:hover {
    background-color: $color-nature;
  }
}

@media screen and (min-width:$wrapper-width){
  .menu-burger {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: -3em;
    padding: 1.8em;
    background: url(../images/background-menu.svg) top left no-repeat;
    background-size: contain;

    a {
      color: $color-social;
      font-weight: bold;
      font-family: $font;
      font-size: 1.1em;
      border-bottom: 2px $color-social solid;
      font-variant-caps: small-caps;
    }

    a:hover {
      background-color: transparent;
      font-weight: 900;
      padding-top: .5em;
    }

    ul {
      margin: auto;
    }

    li {
      display: inline-block;
    }
  }
}






