.readnext {
    background-color: $color-social;
    text-transform: uppercase;
    color: $color-background;

    border-radius: 0;

    a {
        text-decoration: none;
        color: $color-background;
    }
}