.resources {
  background-color: $color-main;
  color: $color-background;
  font-weight: bold;
  display: block;

  div.container {
    width: 100% !important; // to overwrite bootstrap :'(
    margin: 0;
    padding: 1em 2em;
  }

  h2 {
    color: $color-energy;
    //background-color: $color-background;
    background-image: url(../images/background-resources-h2.svg);
    font-variant: small-caps;
    margin-left: -1em;
    margin-right: auto;
    padding-left: 1em;
    width: auto;
    font-weight: bold;
  }

  a::before {
    content: url(../images/download-icon.svg);
    height: .1em;
    margin-top: .8em;
    margin-right: .2em;
  }

  a {
    color: $color-background;
    margin-left : .5em;
  }

  span.resources {

    background-color: $color-energy;

    a::before {
      content: none;
    }

    a {
      padding: .5em;
      font-size: 120%;
      color: $color-main;
      display: block;
      font-variant: small-caps;
      text-decoration: none;
    }
  }
}

@media screen and (min-width:$wrapper-width){
  .resources {
    margin: 1em 5%;
  }
}