@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-ExtraBoldItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-ExtraLightItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Thin.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-BlackItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Italic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-BoldItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-ThinItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-SemiBoldItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-LightItalic.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Black.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/subset-Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins/subset-Poppins-Light.woff") format("woff"), url("../fonts/Poppins/subset-Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
* {
  box-sizing: border-box; }

/* Base */
body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

a {
  text-decoration: underline; }

h1 {
  color: #008397;
  font-weight: bolder; }

h2 {
  color: white;
  background: #008397;
  padding: 0.5em; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #008397; }

/* Layouts */
body {
  display: flex;
  flex-direction: column; }

.l-header {
  order: 10; }

.l-nav {
  order: 20; }

.l-main {
  order: 30;
  padding: 1em; }

.l-footer {
  order: 40;
  background-color: #008397;
  color: white; }

.l-header {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto; }

.header-logo {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1; }

.header-subtitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.header-list-sublogo {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }

@media screen and (min-width: 980px) {
  .l-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 200px 505px 275px auto;
    grid-template-rows: auto;
    padding-bottom: 2em; }

  .header-logo {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1; }

  .header-subtitle {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2; }

  .header-list-sublogo {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; } }
/* Modules */
.l-header {
  background: #008397;
  color: white; }

.header-subtitle {
  text-align: left;
  font-variant: small-caps;
  font-size: 5vmin;
  line-height: 5vmin; }

.header-list-sublogo {
  list-style: none; }
  .header-list-sublogo li {
    display: inline; }
    .header-list-sublogo li .header-sublogo {
      width: 18%; }

@media screen and (min-width: 980px) {
  .header-list-sublogo {
    padding: 1em;
    background: url(../images/backgound-sublogo.svg) top left no-repeat;
    column-count: 2; }
    .header-list-sublogo li {
      display: inherit; }
      .header-list-sublogo li .header-sublogo {
        width: 100%; }

  .header-subtitle {
    text-align: left;
    font-variant: small-caps;
    font-size: 2em;
    line-height: 1em; } }
.readnext {
  background-color: #e8348b;
  text-transform: uppercase;
  color: white;
  border-radius: 0; }
  .readnext a {
    text-decoration: none;
    color: white; }

.menu-burger {
  display: flex;
  flex-direction: column;
  background-color: #e8348b;
  color: white; }
  .menu-burger a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: flex; }
  .menu-burger li {
    list-style: none;
    flex-direction: column; }
  .menu-burger ul {
    margin: 0;
    padding: 0; }
  .menu-burger a:hover {
    background-color: #62b22f; }

@media screen and (min-width: 980px) {
  .menu-burger {
    display: flex;
    flex-direction: row;
    width: 720px;
    margin: auto;
    margin-top: -1em;
    background-color: white;
    border-bottom: 2px #e8348b solid; }
    .menu-burger a {
      color: #e8348b; }
    .menu-burger a:hover {
      background-color: transparent; }
    .menu-burger ul {
      margin: auto; }
    .menu-burger li {
      display: inline-block; } }

/*# sourceMappingURL=ecoresponsable.css.map */
